<!DOCTYPE html>
<html>
  <head>
    <title>Snake Game</title>
        <style>
            canvas{
                display: block;
                margin: 0 auto;
            }
        </style>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   
   <canvas id="snake" width="608" height="608"></canvas>
    <script src="snake.js"></script>
   
    <%= yield %>
  </body>
</html>
